@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand-Medium';
  src: url('../../assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand-Medium', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #232d97;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.title {
  font-family: 'Quicksand-Bold', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  color: #f03f04;
}

.welcomeMessage {
  font-family: 'Quicksand-Bold', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #232d97;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #232d97;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: #ff5721;
}

.logoutBtn {
  width: 100%;
  padding: 10px;
  background-color: #b12222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.logoutBtn:hover {
  background-color: #861818;
}